.container {
	display: flex;
	justify-content: center;
}

.screen {
	margin: 20px auto;
}

.board {
	width: 502px;
	height: 502px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: relative;
}

.square {
	display: flex;
	height: 50px;
	width: 50px;
	background-color: lightblue;
	border: 1px solid black;
	box-sizing: border-box;
}

#player{
	position: absolute;
    top: 450px;
    left: 224px;
}

.zombie{
position: absolute;
    top: 0px;
    left: 0px;
}