.container {
	display: flex;
	justify-content: center;
	background: url(./../images/bg-10.JPG);
}

.screen {
	margin: 20px auto;
}

.board {
	width: 502px;
	height: 502px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: relative;
}

.square {
	display: flex;
	height: 50px;
	width: 50px;
	// background-color: lightblue;
	// border: 1px solid black;
	box-sizing: border-box;
}

.bodyCounter{
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: lightgreen;
}

#player{
	position: absolute;
    top: 450px;
    left: 224px;
    z-index: 2;
}

.zombie{
position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}


h1 {
	color: #F92672;
	text-align: center;
	font-size: 50px;
	font-family: 'Special Elite', cursive;
}

h2 {
	position:relative;
	top: 20px;
	color: lightgreen;
}

h3 {
	color: lightgreen;
}